header {
  text-align: center;
  padding: 1rem 0;
  background-color: $grey-light;
  border-bottom: 1px solid $grey;
}

.logo {
  max-width: 250px;
}

.wizard {
  display: block;
  margin: 2rem auto;
  max-width: 250px;
}
