//breakpoints
$standard-desktop: 1280px;
$big-desktop: 1920px;


//common variables
$border-radius: 0.2rem;

//colors

$blue: #00B8FF;
$blue-lighter: #50CEFF;
$blue-darker: #468AA4;
$grey-light: #f3f3f3;
$grey: #cacaca;